# Test Report

<!--
@category Private
-->

```bash
GET /api/v1/report
```

## Example

### Request

```bash
GET http://localhost/api/v1/report
```

### Response

```json
{"code":200,"message":"OK","data":[]}
```